<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!--<title>Dashboard Sidebar Menu</title>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
    <link rel="stylesheet" href="admin.css">
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <!--<img src="logo.png" alt="">-->
                </span>



                <div class="text logo-text">
                    <span class="name">Welcome</span>
                    <span class="profession">student Name</span>
                </div>
            </div>



            <i class='bx bx-chevron-right toggle'></i>
        </header>



        <div class="menu-bar">
            <div class="menu">





                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#Dashboard" onclick="dashboard()">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>



                    <li class="nav-link">
                        <a href="#payment" onclick="payment()">
                            <i class='bx bx-wallet icon'></i>
                            <span class="text nav-text">Payment</span>
                        </a>
                    </li>







                    <li class="nav-link">
                        <a href="#addproduct" onclick="addproduct()">
                            <i class='bx bx-pie-chart-alt icon'></i>
                            <span class="text nav-text">products</span>
                        </a>
                    </li>



                    <li class="nav-link">
                        <a href="#account" onclick="account()">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Account</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#userList" onclick="userList()">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Supplier List</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#category" onclick="category()">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">category</span>
                        </a>
                    </li>

                </ul>
            </div>



            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>





            </div>
        </div>



    </nav>



    <section class="home">
        <div class="text">
            <p>Inventory management system</p>
            <br>
            <div class="row">
              <div class="column">
                <div class="card">
                  <h3>11+</h3>
                  <p>Total Parcels</p>
                </div>
              </div>
            
              <div class="column">
                <div class="card">
                  <h3>55+</h3>
                  <p>Ready to Pickup</p>
                </div>
              </div>
              
              <div class="column">
                <div class="card">
                  <h3>100+</h3>
                  <p>Delivered</p>
                </div>
              </div>
              
              <div class="column">
                <div class="card">
                  <h3>100+</h3>
                  <p>Out for Delivery

                  </p>
                </div>
              </div>
            </div>


        </div>
        <div
        <div id="Dashboard" class="collpase">
            <div style="text-align: center;"> Student Details </div>
        </div>
        <div id="payment" class="collpase">
           <div class="paymentForm">
            <form class="modal-content" action="/payments" method="post">
                <div class="container">
                  <h1><span style="font-size: 52px; color: blue;">P</span>ayment</h1>
                  
                  <hr>
                  <label for="card"><b>Card Number</b></label>
                  <input type="text" placeholder="4242 4242 4242 4242" name="cardNumber" required maxlength="16">
            
                  <label for="holder"><b>Card Holder</b></label>
                  <input type="text" placeholder="Joy dev" name="cname" required maxlength="20">
            
                  <label for="expry"><b>Expiry Date</b></label>
                  <input type="text" placeholder="12/30" name="expiryDate" required maxlength="5">

                  <label for="cvv"><b>CVV</b></label>
                  <input type="password" placeholder="123" name="cvv" required maxlength="3">
                  
                 
            
                  <div class="clearfix">
                      <button type="submit" class="signupbtn">Pay Now</button>

                  </div>

                  </div>
                </div>
              </form>
            </div>
        </div>


        <div id="addproduct" class="collpase">

            <div class="container">
                <div class="row">
                    <h1>Product Lists</h1>
                    <br>
                 <table class="table table-striped table-primary">
                  <thead>
                    <tr>
                        <th>Category</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Manufacture</th>
                        <th>Expire</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                   <% if(pdata.length >0){
                    pdata.forEach(function(row){
                    %>
                    <tr>
                        <td> <%= row.cat %></td>
                        <td> <%= row.pname %></td>
                        <td> <%= row.price %></td>
                        <td> <%= row.pmdate %></td>
                        <td> <%= row.pxdate %></td>
                        <td>
                          <div class="col-md-6">
                              <img src="./upload/<%= row.file %>" alt="image" style="width: 40px; margin: 5px auto;">
                          </div>
                        </td>
                        <td><a class="btn btn-primary " href="">delete</a>
                          <!-- <a class="btn btn-danger " href=""><i class="fa fa-trash"></i></a> -->
                        </td>
                    </tr>
                    <%  }) } %>
                  </tbody>
                </table>
              </div>
            </div>

        </div>
        <div id="account" class="collpase">
            <table>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Action</th>
                </tr>
                <tr>
                  <td>Alfreds Futterkiste</td>
                  <td>Maria Anders</td>
                  <td>Germany</td>
                </tr>
                <tr>
                  <td>Centro comercial Moctezuma</td>
                  <td>Francisco Chang</td>
                  <td>Mexico</td>
                </tr>
                <tr>
                  <td>Ernst Handel</td>
                  <td>Roland Mendel</td>
                  <td>Austria</td>
                </tr>
                <tr>
                  <td>Island Trading</td>
                  <td>Helen Bennett</td>
                  <td>UK</td>
                </tr>
                <tr>
                  <td>Laughing Bacchus Winecellars</td>
                  <td>Yoshi Tannamuri</td>
                  <td>Canada</td>
                </tr>
                <tr>
                  <td>Magazzini Alimentari Riuniti</td>
                  <td>Giovanni Rovelli</td>
                  <td>Italy</td>
                </tr>
              </table>
        </div>
        <div id="userList" class="collpase">
            <div class="container">
                <div class="row">
                    <h1>Total Suppliers</h1>
                    <br>
                 <table class="table table-striped table-primary">
                  <thead>
                    <tr>
                        
                        <th>Name</th>
                        <th>Email</th>
                        
                        <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                   <% if(supl.length >0){
                    supl.forEach(function(row){
                    %>
                    <tr>
                        
                        <td> <%= row.name %></td>
                        <td> <%= row.email %></td>
                        
                        
                        <td><a class="btn btn-primary " href="">approve</a>
                          <a class="btn btn-danger " href="">delete</a>
                        </td>
                    </tr>
                    <%  }) } %>
                  </tbody>
                </table>
              </div>
            </div>

        </div>
        <div id="category" class="collpase">
            <div class="container">
                <div class="row">
                    <h1>Category Lists</h1>
                    <br>
                 <table class="table table-striped table-primary">
                  <thead>
                    <tr>
                        <th>Category</th>
                       
                        <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                   <% if(cdata.length >0){
                    cdata.forEach(function(row){
                    %>
                    <tr>
                        <td> <%= row.cate %></td>
                        
                        <td><a class="btn btn-primary " href="">delete</a>
                          <!-- <a class="btn btn-danger " href=""><i class="fa fa-trash"></i></a> -->
                        </td>
                    </tr>
                    <%  }) } %>
                  </tbody>
                </table>
              </div>
            </div>

        </div>
    </section>



    <script>
        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text");

        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        })



        searchBtn.addEventListener("click", () => {
            sidebar.classList.remove("close");
        })



        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");

            if (body.classList.contains("dark")) {
                modeText.innerText = "Light mode";
            } else {
                modeText.innerText = "Dark mode";

            }
        });

        function dashboard() {
            document.getElementById("Dashboard").classList.add('collpase-open');
            document.getElementById("Dashboard").classList.remove('collpase');
            document.getElementById("addproduct").classList.remove('collpase-open');
            document.getElementById("addproduct").classList.add('collpase');
            document.getElementById("payment").classList.remove('collpase-open');
            document.getElementById("payment").classList.add('collpase');
            document.getElementById("account").classList.remove('collpase-open');
            document.getElementById("account").classList.add('collpase');
            document.getElementById("userList").classList.remove('collpase-open');
            document.getElementById("userList").classList.add('collpase');
            document.getElementById("category").classList.remove('collpase-open');
            document.getElementById("category").classList.add('collpase');

        }

        function payment() {
            document.getElementById("payment").classList.add('collpase-open');
            document.getElementById("payment").classList.remove('collpase');
            document.getElementById("addproduct").classList.remove('collpase-open');
            document.getElementById("addproduct").classList.add('collpase');
            document.getElementById("Dashboard").classList.remove('collpase-open');
            document.getElementById("Dashboard").classList.add('collpase');
            document.getElementById("account").classList.remove('collpase-open');
            document.getElementById("account").classList.add('collpase');
            document.getElementById("userList").classList.remove('collpase-open');
            document.getElementById("userList").classList.add('collpase');
            document.getElementById("category").classList.remove('collpase-open');
            document.getElementById("category").classList.add('collpase');
        }

        function addproduct() {

            document.getElementById("addproduct").classList.add('collpase-open');
            document.getElementById("addproduct").classList.remove('collpase');
            document.getElementById("payment").classList.remove('collpase-open');
            document.getElementById("payment").classList.add('collpase');
            document.getElementById("Dashboard").classList.remove('collpase-open');
            document.getElementById("Dashboard").classList.add('collpase');
            document.getElementById("account").classList.remove('collpase-open');
            document.getElementById("account").classList.add('collpase');
            document.getElementById("userList").classList.remove('collpase-open');
            document.getElementById("userList").classList.add('collpase');
            document.getElementById("category").classList.remove('collpase-open');
            document.getElementById("category").classList.add('collpase');

        }
        function account() {
            document.getElementById("account").classList.add('collpase-open');
            document.getElementById("account").classList.remove('collpase');
            document.getElementById("addproduct").classList.remove('collpase-open');
            document.getElementById("addproduct").classList.add('collpase');
            document.getElementById("Dashboard").classList.remove('collpase-open');
            document.getElementById("Dashboard").classList.add('collpase');
            document.getElementById("payment").classList.remove('collpase-open');
            document.getElementById("payment").classList.add('collpase');
            document.getElementById("userList").classList.remove('collpase-open');
            document.getElementById("userList").classList.add('collpase');
            document.getElementById("category").classList.remove('collpase-open');
            document.getElementById("category").classList.add('collpase');
        }
        function userList() {
            document.getElementById("userList").classList.add('collpase-open');
            document.getElementById("userList").classList.remove('collpase');
            document.getElementById("account").classList.remove('collpase-open');
            document.getElementById("account").classList.add('collpase');
            document.getElementById("category").classList.remove('collpase-open');
            document.getElementById("category").classList.add('collpase');
            document.getElementById("addproduct").classList.remove('collpase-open');
            document.getElementById("addproduct").classList.add('collpase');
            document.getElementById("Dashboard").classList.remove('collpase-open');
            document.getElementById("Dashboard").classList.add('collpase');
            document.getElementById("payment").classList.remove('collpase-open');
            document.getElementById("payment").classList.add('collpase');
        }
        function category() {
            document.getElementById("category").classList.add('collpase-open');
            document.getElementById("category").classList.remove('collpase');
            document.getElementById("account").classList.remove('collpase-open');
            document.getElementById("account").classList.add('collpase');
            document.getElementById("addproduct").classList.remove('collpase-open');
            document.getElementById("addproduct").classList.add('collpase');
            document.getElementById("Dashboard").classList.remove('collpase-open');
            document.getElementById("Dashboard").classList.add('collpase');
            document.getElementById("payment").classList.remove('collpase-open');
            document.getElementById("payment").classList.add('collpase');
            document.getElementById("userList").classList.remove('collpase-open');
            document.getElementById("userList").classList.add('collpase');
        }

    </script>



</body>

</html>